// GENERAL PROJECT STYLES

:root {
    --primary: #605B96;
    --primary-darken: #7F84B5;
    --primary-dark: #38327C;

}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-dark);
    font-weight: 700;
    line-height: 1.2;
}


html {
    font-size: 16px;
    // scroll-behavior: unset;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: unset;
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}


.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 1.25rem 1.5rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    transition: all 400ms;

    &--red {
        background: rgba(216, 58, 57, 0.9);
        color: #fff;
        border: 1px solid rgba(216, 58, 57, 0.9);

        &:hover,
        &:active {
            background: rgba(191, 43, 43, 1);
            color: #fff;
        }
    }

    &--white {
        background: #FFFFFF;
        color: var(--primary-dark);
        border: 1px solid rgba(0, 0, 0, 0.05);

        &:hover,
        &:active {
            background: var(--primary-dark);
            border: 1px solid var(--primary-dark);
            color: #fff;
        }
    }

    &--pink {
        background: rgba(220, 78, 77, 0.1);
        border: 1px solid rgba(220, 78, 77, 0.1);
        color: #DC4E4D;

        &:hover,
        &:active {
            background: rgba(191, 43, 43, 1);
            color: #fff;
        }
    }
}

.subtitle {
    color: #878CBD;
}